<!-- Trent Lessig 2/27/17 Formatting of Webpages -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PittJungle - Login{% endblock %}

{% block page_content %}
<html>
<div class="page-header">
    <h1>FOOD</h1>
</div>
<div class="col-md-4">

<body bgcolor="dan budny">
	<h1 align="center">This is my webpage</h1>

	<p>
	<blink>CHECK THIS OUT!</blink><br/>
	</p>


<hr size=6 color=#00FF00 width=90%/>

<ol>
	<li name = "Fast Food">Fast Food</li>
	<li name = "Dining">Dining</li>
	<li name = "Dessert">Dessert</li>
	<li name = "Healthy">Healthy</li>
	<li name = "Chinese">Chinese</li>

</ol>

<p>
<marquee scrollamount = 5 direction= right>I am <sup>loosing</sup> my <sub>teeth</sub>. Fantastic.</marquee>
</p>

</body>
</div>
</html>
{% endblock %}



