<!-- accountLayout.html -- Trent Lessig -- list events happening according to account-- view aspect -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}

	{% block body %}
		{% if g.user.user_type == 'owner' %} <!--Show the owner who signed up for what(if any) or report that no customer scheduled an event-->
			<h2>Scheduled Events</h2>
			<ol class="placedEvents">
			{% for event in schedule %}
				<li><p>Scheduled Event: {{ event.name }} | Date: {{ event.date }}</p></li>
				{% if event.staff1 == '-' and event.staff2 == '-' and event.staff3 == '-' %}
					<p><i>No Staff are Scheduled for this Event :(</i></p>
				{% else %}
				<ul class="placedEvents" style="list-style-type:square;">
					<li><p>Staff Member: {{ event.staff1 }}</p></li>
					<li><p>Staff Member: {{ event.staff2 }}</p></li>
					<li><p>Staff Member: {{ event.staff3 }}</p></li>	
				</ul>
				{% endif %}
			{% else %}
				<p><em>No Customer Has Scheduled an Event</em></p>
			{% endfor %}
			</ol>
		
		{% elif g.user.user_type == 'staff' %}
			<h2>Your Scheduled Events</h2>
			<ol class="placedEvents">
			{% for event in schedule %} <!--grab all events the user is signed up for-->
				<li><p>Scheduled Event: {{ event.name }} | Date: {{ event.date }}</p></li>
			{% else %} <!--Nothing scheduled-->
				<p><em>No Events Currently Registered For</em></p>
			{% endfor %}
			</ol>
			
			<h3>Register for Event</h3>
			<ol class="placedEvents"> <!--need to cycle through all events, check if any staff signed up and report-->
			{% for event in availability %}
				{#<p>Hey we made it first step inside for loop</p>#}
				{% if event.staff1 == '-' or event.staff2 == '-' or event.staff3 == '-' %}
					{% if event.staff1 != g.user.username and event.staff2 != g.user.username and event.staff3 != g.user.username %}
						<li><p>Scheduled Event: {{ event.name }} | Date: {{ event.date }}</p></li>
						{% if event.staff1 == '-' %}
							<form action="{{ url_for('event_signup', staff='staff1') }}" method="post">
								<input type="hidden" id="staff1" name="staff1" value="{{ g.user.username }}">
								<input type="hidden" name="event_id" value="{{ event.event_id }}">
								<div class="actions"><input type="submit" value="Register"></div>
							</form>
						{% elif event.staff2 == '-' %}
							<form action="{{ url_for('event_signup', staff='staff2') }}" method="post">
								<input type="hidden" id="staff2" name="staff2" value="{{ g.user.username }}">
								<input type="hidden" name="event_id" value="{{ event.event_id }}">
								<div class="actions"><input type="submit" value="Register"></div>
							</form>
						{% elif event.staff3 == '-' %}
							<form action="{{ url_for('event_signup', staff='staff3') }}" method="post">
								<input type="hidden" id="staff3" name="staff3" value="{{ g.user.username }}">
								<input type="hidden" name="event_id" value="{{ event.event_id }}">
								<div class="actions"><input type="submit" value="Register"></div>
							</form>
						{% endif %}
					{% endif %}
				{% endif %}	
			{% endfor %}
			</ol>
			
		{% elif g.user.user_type == 'customer' %}
			<h3>Events You Have Scheduled</h3>
			<ol class="placedEvents">
			{% for event in schedule %}
				<li><p>Scheduled Event: {{ event.name }} | Date: {{ event.date }}
					<form action="{{ url_for('delete_event') }}" method="post">
					<input type="hidden" name="event_id" value="{{ event.event_id }}">
					<div class="actions"><input type="submit" value="Cancel {{ event.name }}"></div>
					</form>
			</p></li>
			{% else %}
				<p><em>You Currently Have No Events Scheduled</em></p>
			{% endfor %}
			</ol>
			
			<h3>Schedule an Event</h3>
			<div class="placedEvents">
				<form action="{{ url_for('schedule_event') }}" method="post">
					<input type="hidden" name="customer_id" value="{{ g.user.user_id }}">
					<dl>
						<dt>Event Name: 
						<dd><input type="text" name="name" size="30">
						<dt>Event Date:
						<dd><input type="date" name="date">					
					</dl>
					<div class="actions"><input type="submit" value="Create Event"></div>
				</form>				
			</div>
			
		{% else %} <!--just want to show all events-->
			<h3>ALL SCHEDULED EVENTS</h3>
			<div class="placedEvents">
			<ul style="list-style-type:none;">
			{% for event in schedule %}
				<li><p>Scheduled Event: {{ event.name }} | Date: {{ event.date }}</p></li>
				<br/>
			{% else %}
				<p><em>No events currently scheduled.</em></p>
			{% endfor %}
			</ul>
			</div>
		
		{% endif %}
			
	{% endblock %}
				